<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>console</headerType>
  <jar>D:\20260126 - Kerjaan\20260208 - Universitas Terbuka\20260412 - Pembejalaran\Ganjil 2026-2027\Pemrograman Berbasis Desktop - STSI4201\Project\AB-4-Tugas-1-Pemrograman-Desktop\AB-4-Tugas-1-Pemrograman-Desktop.jar</jar>
  <outfile>C:\Users\Asus\Downloads\aplikasiku.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>